
## Java
- [Dom4j](https://dom4j.github.io/) - Flexible XML framework
- [Gson](https://github.com/google/gson) - Google Library to support JSON

## Android
- [Universal-Image-Loader](https://github.com/nostra13/Android-Universal-Image-Loader) - Powerful and flexible library for loading, caching and displaying images
- [greenDAO](http://greendao-orm.com/) - greenDAO is a light & fast ORM solution that maps objects to SQLite databases
- [EventBus](http://greenrobot.github.io/EventBus/) - Android optimized event bus that simplifies communication

## PHP
- [Idiorm](https://github.com/j4mie/idiorm/) - A lightweight nearly-zero-config object-relational mapper and fluent query builder for PHP5

## Javascript
- [fullPage.js](http://alvarotrigo.com/fullPage/) - To create fullscreen scrolling websites / single page websites
- [lunr.js](http://lunrjs.com/) - Simple full-text search

## CSS
- [loaders.css](https://connoratherton.com/loaders) - Delightful and performance-focused pure css loading animations

## Icons
- [Github-Octicons](https://octicons.github.com/) - GitHub's icons
- [Font-Awesome](https://fortawesome.github.io/Font-Awesome/) - Scalable vector icons that can instantly be customized
- [Iconfont](http://www.iconfont.cn/) - Alibaba Icon Library (Chinese)
- [flag-icon-css](http://lipis.github.io/flag-icon-css/) - Country Flags

## Color
- [Minimalist-Color-Palettes](https://www.behance.net/gallery/32154055/Minimalist-Color-Palettes-2015) - Minimalist Color Palettes

## Tool
- [ProcessOn](https://www.processon.com/) - UML web app for team (Chinese)
- [https://www.draw.io/] - UML web app for team

## Books
- [GitHub Cheat Sheet](https://github.com/tiimgreen/github-cheat-sheet) - GitHub Practical Tips
- [Git Quick Reference](http://jonas.nitro.dk/git/quick-reference.html) - Git Quick Reference

