
## Bookmarks

## Javascript
- [fullPage.js](http://alvarotrigo.com/fullPage/) - To create fullscreen scrolling websites / single page websites

## Books
- [GitHub Cheat Sheet](https://github.com/tiimgreen/github-cheat-sheet) - GitHub Practical Tips

## Icons
- [Github-Octicons](https://octicons.github.com/) - GitHub's icons
- [Font-Awesome](https://fortawesome.github.io/Font-Awesome/) - Scalable vector icons that can instantly be customized
- [Iconfont](http://www.iconfont.cn/) - Alibaba Icon Library (Chinese)