
## Java
- [Dom4j](https://dom4j.github.io/) - Flexible XML framework
- [Gson](https://github.com/google/gson) - Google Library to support JSON

## Javascript
- [fullPage.js](http://alvarotrigo.com/fullPage/) - To create fullscreen scrolling websites / single page websites

## CSS
- [loaders.css](https://connoratherton.com/loaders) - Delightful and performance-focused pure css loading animations

## Icons
- [Github-Octicons](https://octicons.github.com/) - GitHub's icons
- [Font-Awesome](https://fortawesome.github.io/Font-Awesome/) - Scalable vector icons that can instantly be customized
- [Iconfont](http://www.iconfont.cn/) - Alibaba Icon Library (Chinese)
- [flag-icon-css](http://lipis.github.io/flag-icon-css/) - Country Flags

## Color
- [Minimalist-Color-Palettes](https://www.behance.net/gallery/32154055/Minimalist-Color-Palettes-2015) - Minimalist Color Palettes

## Tool
- [ProcessOn] - UML web app for team (Chinese)

## Books
- [GitHub Cheat Sheet](https://github.com/tiimgreen/github-cheat-sheet) - GitHub Practical Tips


